*{margin:0; padding:0; list-style:none;
    font-size:16px;
    font-family: 'Noto Sans KR', 'Roboto';
    color:black;}

a{display:block;
    text-decoration:none;
    color:inherit;}

h1, h2, h3, h4, h5, h6{color:inherit;
    font-size:inherit;}

button{display:block;
    cursor:pointer;}

.clearfix{
    display:block;
    content:"";
    clear:both;}



/* 메뉴 슬라이드 */
header{width:100%;
    height:80px;
    border-bottom:1px solid rgba(255,255,255,0.3);
    position:fixed;
    background-color:rgba(71,66,63,0.8);
    z-index:1;}

#header{width:100%;
    height:80px;
    position:relative;}

.header_wrap{
    width:1200px;
    position:absolute;
    top:20px;
    left:50%;
    margin-left:-600px;
}

#header_logo{
    width:125px;
    height:40px;
    float:left;
}

#header_logo > a > h1{
    width:125px;
    height:40px;
    background-image:url(../images/n_hlogo.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
}

#nav{
    margin-left:100px;
    float:left;}

#nav > li{
    width:150px;
    height:60px;
    padding:10px 0px;
    float:left;
    color:white;
    text-align:center;}


.submenu{
    width:100%;
    height:200px;
    position:relative;
    padding:20px 0px;
    top:26px;
    z-index:1;
    display:none;
    background-color:rgba(255,255,255,0.9);}

.submenu li{
    height:36px;
    line-height:36px;
}

.submenu li:hover{
    background-color:red;
    color:white;}


#gnb{width:120px;
    height:30px;
    float:right;
    padding-top:8px;}

#gnb > li{width:30px;
    height:30px;
    border-radius:50%;
    background-color:rgba(255,255,255,0.2);
    float:left;
    text-align:center;
    line-height:30px;
    margin-right:15px;}

#gnb > li:last-child{margin-right:0px;}


/* section_02 */
#section_02{
    width:100%;
    height:508px;
    position:relative;
    background-size:cover;
}

.mainimg_txt{
    width:100%;
    position:absolute;
    top:346px;
}

.mainimg_txt > p{
    color:white;
    text-align:center;
}

.mainimg_txt_kor{
    font-size:34px;
    font-weight:bold;
}

.mainimg_txt_en{
    font-family:'Roboto';
    font-weight:300;
    font-size:16px;
    margin-top:14px;
    letter-spacing:0.5px;
}


/* 타이틀 공통 */
.section_title_box{
    padding:184px 0 0;
    text-align:center;}

p.title_01{display:block;
    font-size:16px;
    font-family:'Roboto';
    font-weight:700;
    color:#df0029;}

p.title_02, p.title_02 > span{
    display:inline-block;
    margin-top:8px;
    font-size:44px;
    letter-spacing:-0.3px;
}

p.title_02 > span{
    font-weight:700;
}

p.title_03{display:block;
    margin-top:26px;
    font-size:20px;
    color:#595757;
    letter-spacing:-0.1px;
}


/* section_04 */
#section_04{
    width:100%;
    margin-top:120px;
    height:780px;
    }

.section_04_con_box{
    width:1488px;
    height:542px;
    overflow:hidden;
}

.section_04_con{
    width:496px;
    height:542px;
    background-repeat:no-repeat; 
    background-size:cover;
    float:left;
}

.section_04_con_txt_box{
    text-align:center;
}

.section_04_con_txt_up{
    width:312px;
    margin:152px 92px 0;
    border-bottom:1px solid rgba(255,255,255,0.6);
}

.section_04_con_txt_up > span{
    font-size:26px;
    font-weight:700;
    color:white;
}

.section_04_con_txt_up > p{
    font-size:16px;
    font-family:'Roboto';
    font-weight:300;
    color:white;
    margin-top:20px;
    margin-bottom:30px;
    letter-spacing:0.5px;
}

.section_04_con_txt_down{
    margin-top:42px;
}

.section_04_con_txt_down > p{
    font-size:16px;
    line-height:2;
    font-weight:300;
    color:white;
}


/* section_05 */
#section_05{
    width:100%;
    height:2304px;
}

.section_05_bar_wrap{
    width:1200px;
    height:370px;
    margin:0 auto 10px;
}

.section_05_pr_wrap{
    width:1090px;
    height:1680px;
    margin:0 auto;
}

.section_05_pr_box{
    width:530px;
    height:530px;
    float:left;
    margin-right:30px;
    margin-bottom:30px;
}

div.section_05_pr_wrap > div:nth-child(even){
    margin-right:0px;
}

.section_05_big_pr > a, .section_05_pr > a{
    width:100%;
    height:100%;
}

.section_05_big_pr{
    background-color:white;
    width:530px;
    height:530px;
    box-shadow:0px 0px 8px #cccccc;
}

.section_05_pr{
    background-color:white;
    width:250px;
    height:250px;
    margin-right:30px;
    margin-bottom:30px;
    float:left;
    box-shadow:0px 0px 8px #cccccc;
}

.section_05_pr_box > div.section_05_pr:nth-child(even){
    margin-right:0px;
}

.section_05_pr_box > div.section_05_pr:nth-child(3){
    margin-bottom:0px;
}
.section_05_pr_box > div.section_05_pr:nth-child(4){
    margin-bottom:0px;
}

.big_pr_img{
    width:530px;
    height:402px;
    background-image:cover;
    background-repeat:no-repeat;
    background-position:center center;
}

.pr_img{
    width:250px;
    height:190px;
    background-image:cover;
    background-repeat:no-repeat;
    background-position:center center;
}

.big_pr_txt{
    width:530px;
    padding:0px 65px;
    text-align:center;
}

.big_pr_txt > span{
    width:400px;
    font-size:22px;
    display:block;
    padding-top:26px;
    font-weight:bold;
    border-top:1px solid #cccccc;
    height:18px;
}

.big_pr_txt > p{
    width:400px;
    display:block;
    font-size:16px;
    color:#cccccc;
}

.section_05_pr > a > p{
    display:block;
    text-align:center;
    margin:0px 25px;
    padding-top:14px;
    border-top:1px solid #cccccc;
}

.pr_go_wrap{
    width:1090px;
    margin:0 auto;
}

.pr_go{
    width:170px;
    height:30px;
    float:right;
    margin-top:30px;
    border-bottom:0.5px solid #cccccc;
}

.pr_go > a{
    width:100%;
    height:100%;
}

.pr_go > a > p{
    width:152px;
    float:left;
    height:30px;
    display:block;
    font-size:15px;
    font-weight:bold;
}

.pr_go_icon{
    width:18px;
    height:18px;
    padding-bottom:12px;
    float:left;
}



/* footer */
footer{width:100%;
    height:380px;
    border-top:1px solid #cccccc;
}

.footer_con{width:1200px;
    margin:60px 100px 0px;
    height:140px;
    border-bottom:1px solid #cccccc;
}

.footer_con_left{width:800px;
    height:140px;
    float:left;}

.footer_link{width:800px;}

.footer_link > li{
    float:left;
    padding-right:20px;
}

.footer_link > li >a{
    font-size:14px;
}

.footer_link > li:nth-child(5) >a{
    font-weight:700;
    color:#df0029;
}

.footer_link > li:nth-child(6) >a{
    font-weight:700;
    color:#ec870c;
}

.address{width:800px;
    margin-top:38px;}

.address > p{
    font-size:14px;
    line-height:2;
}

.address > p > span{
    font-size:14px;
    font-weight:700;  
}

.footer_con_right{width:180px;
    height:140px;
    float:right;}

.family_site_box > select{display:block;
    width:180px;
    height:32px;
    line-height:32px;
    padding-left:10px;
    border:1px solid #b9c3c9;
    font-size:14px;}

.sns_list{width:180px;
    margin-top:20px;}

.sns_list > li{width:32px;
    height:32px;
    float:left;
    margin-right:17px;}

.sns_list > li:last-child{
    margin-right:0px;}



.footer_bottom{width:1200px;
    height:180px;
    margin:40px 100px 0px;}

.footer_bottom > span.footer_logo{display:block;
    width:104px;
    height:34px;
    float:left;
}

.footer_bottom > span.footer_logo > img{
    width:104px;
    height:auto;
}

.footer_bottom > p.copyright{display:block;
    width:300px;
    height:34px;
    line-height:34px;
    float:left;
    margin-left:40px;
    font-size:14px;
    font-family:'Roboto';}

.footer_bottom > span.footer_simbol{display:block;
    width:64px;
    height:42px;
    float:right;
}



