*{margin:0; padding:0; list-style:none;
    font-size:16px;
    font-family: 'Noto Sans KR', 'Roboto';
    color:black;}

a{display:block;
    text-decoration:none;
    color:inherit;}

h1, h2, h3, h4, h5, h6{color:inherit;
    font-size:inherit;}

button{display:block;
    cursor:pointer;}

.clearfix{
    display:block;
    content:"";
    clear:both;}



/* 메뉴 슬라이드 */
header{width:100%;
    height:80px;
    border-bottom:1px solid rgba(255,255,255,0.3);
    position:fixed;
    background-color:rgba(71,66,63,0.8);
    z-index:1;}

#header{width:100%;
    height:80px;
    position:relative;}

.header_wrap{
    width:1200px;
    position:absolute;
    top:20px;
    left:50%;
    margin-left:-600px;
}

#header_logo{
    width:125px;
    height:40px;
    float:left;
}

#header_logo > a > h1{
    width:125px;
    height:40px;
    background-image:url(../images/n_hlogo.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
}

#nav{
    margin-left:100px;
    float:left;}

#nav > li{
    width:150px;
    height:60px;
    padding:10px 0px;
    float:left;
    color:white;
    text-align:center;}


.submenu{
    width:100%;
    height:200px;
    position:relative;
    padding:20px 0px;
    top:26px;
    z-index:1;
    display:none;
    background-color:rgba(255,255,255,0.9);}

.submenu li{
    height:36px;
    line-height:36px;
}

.submenu li:hover{
    background-color:red;
    color:white;}


#gnb{width:120px;
    height:30px;
    float:right;
    padding-top:8px;}

#gnb > li{width:30px;
    height:30px;
    border-radius:50%;
    background-color:rgba(255,255,255,0.2);
    float:left;
    text-align:center;
    line-height:30px;
    margin-right:15px;}

#gnb > li:last-child{margin-right:0px;}


/* section_02 */
#section_02{
    width:100%;
    height:508px;
    position:relative;
}

.mainimg_txt{
    width:100%;
    position:absolute;
    top:346px;
}

.mainimg_txt > p{
    color:white;
    text-align:center;
}

.mainimg_txt_kor{
    font-size:34px;
    font-weight:bold;
}

.mainimg_txt_en{
    font-family:'Roboto';
    font-weight:300;
    font-size:16px;
    margin-top:14px;
    letter-spacing:0.5px;
}

/* 타이틀 공통 */
.section_title_box{
    padding:120px 0 0;
    text-align:center;}

p.title_01{display:block;
    font-size:16px;
    font-family:'Roboto';
    font-weight:700;
    color:#df0029;}

p.title_02, p.title_02 > span{
    display:inline-block;
    margin-top:8px;
    font-size:44px;
    letter-spacing:-0.3px;
}

p.title_02 > span{
    font-weight:700;
}

p.title_03{display:block;
    margin-top:26px;
    font-size:20px;
    color:#595757;
    letter-spacing:-0.1px;
}


/* section04 */
#section_04{
    height:400px;
    margin-top:164px;
    margin-bottom:150px;
}

.section_04_con_box{
    width:100%;
}

.section_04_con_wrap{
    width:33.3%;
    height:400px;
    padding-top:20px;
    float:left;
    background-color:#c9caca;
}

.section_04_con{
    width:100%;
    height:298px;
    text-align:center;
    position:relative;
    border-right:1px solid white;
}

div.section_04_con_box > div.section_04_con:last-child{
    border-right:none;
}


.section_04_con_title > span{
    font-size:22px;
    font-weight:bold;
    display:block;
    margin-top:56px;/*********/
}

.section_04_con_title > p{
    font-family:'Roboto';
    font-size:16px;
    font-weight:300;
    margin-top:8px;
    margin-bottom:34px;
}

.section_04_con_icon{
    width:60px;
    height:60px;
    background-color:#ec870c;
    border-radius:50%;
    margin:0 auto;
    background-repeat:no-repeat;
    background-position:center center;
}

.section_04_con_txt{
    margin-top:28px;
}

.section_04_con_txt > p{
    line-height:2;
    font-size:16px;
}

.section_04_con_go{
    position:absolute;
    left:50%;
    margin-left:-50px;
    margin-top:26px;
    width:100px;
    height:28px;
    background-image:url(../images/04_section_04_go_icon.png);
    background-position:82px 0px;
    background-repeat:no-repeat;
    border-bottom:1px solid white;
}

.section_04_con_go > a > p{
    color:white;
    font-size:14px;
    font-weight:bold;
    text-align:left;
}







/* section06 */
#section_06{
    width:100%;
    height:5160px;
    padding-top:160px;
}

.section_06_intro_con_box{
    width:1020px;
    margin:0 auto;
}

.section_06_intro_con_box > p{
    display:block;
    width:100%;
    height:58px;
    font-size:24px;
    font-weight:bold;
}

.section_06_txt_left{
    float:left;
    width:300px;
    margin-right:20px;
    padding-top:60px;
}

.section_06_txt_left > p > span{
    font-size:15px;
    font-weight:bold;
    color:#898989;
    line-height:2.5;
}

.section_06_txt_left > p{
    font-size:15px;
    line-height:2.5;
    color:#898989;
}

.section_06_txt_right{
    float:left;
    width:700px;
    padding-top:60px;
}

.section_06_txt_right > span{
    font-size:16px;
    font-weight:bold;
}

.section_06_txt_right > p{
    font-size:16px;
    line-height:2;
    margin-top:24px;
}

.section_06_txt_right_img{
    width:700px;
    height:320px;
    margin-top:68px;
    margin-bottom:102px;
}

.section_06_txt_right_img > img{
    width:100%;
    height:auto;
}

/* footer */
footer{width:100%;
    height:380px;
    border-top:1px solid #cccccc;
}

.footer_con{width:1200px;
    margin:60px 100px 0px;
    height:140px;
    border-bottom:1px solid #cccccc;
}

.footer_con_left{width:800px;
    height:140px;
    float:left;}

.footer_link{width:800px;}

.footer_link > li{
    float:left;
    padding-right:20px;
}

.footer_link > li >a{
    font-size:14px;
}

.footer_link > li:nth-child(5) >a{
    font-weight:700;
    color:#df0029;
}

.footer_link > li:nth-child(6) >a{
    font-weight:700;
    color:#ec870c;
}

.address{width:800px;
    margin-top:38px;}

.address > p{
    font-size:14px;
    line-height:2;
}

.address > p > span{
    font-size:14px;
    font-weight:700;  
}

.footer_con_right{width:180px;
    height:140px;
    float:right;}

.family_site_box > select{display:block;
    width:180px;
    height:32px;
    line-height:32px;
    padding-left:10px;
    border:1px solid #b9c3c9;
    font-size:14px;}

.sns_list{width:180px;
    margin-top:20px;}

.sns_list > li{width:32px;
    height:32px;
    float:left;
    margin-right:17px;}

.sns_list > li:last-child{
    margin-right:0px;}



.footer_bottom{width:1200px;
    height:180px;
    margin:40px 100px 0px;}

.footer_bottom > span.footer_logo{display:block;
    width:104px;
    height:34px;
    float:left;
}

.footer_bottom > span.footer_logo > img{
    width:104px;
    height:auto;
}

.footer_bottom > p.copyright{display:block;
    width:300px;
    height:34px;
    line-height:34px;
    float:left;
    margin-left:40px;
    font-size:14px;
    font-family:'Roboto';}

.footer_bottom > span.footer_simbol{display:block;
    width:64px;
    height:42px;
    float:right;
}



