*{margin:0; padding:0; list-style:none;
    font-size:16px;
    font-family: 'Noto Sans KR', 'Roboto';
    color:black;}

a{display:block;
    text-decoration:none;
    color:inherit;}

h1, h2, h3, h4, h5, h6{color:inherit;
    font-size:inherit;}

button{display:block;
    cursor:pointer;}

.clearfix{
    display:block;
    content:"";
    clear:both;}



/* 메뉴 슬라이드 */
header{width:100%;
    height:80px;
    border-bottom:1px solid rgba(255,255,255,0.3);
    position:fixed;
    background-color:rgba(71,66,63,0.8);
    z-index:1;}

#header{width:100%;
    height:80px;
    position:relative;}

.header_wrap{
    width:1200px;
    position:absolute;
    top:20px;
    left:50%;
    margin-left:-600px;
}

#header_logo{
    width:125px;
    height:40px;
    float:left;
}

#header_logo > a > h1{
    width:125px;
    height:40px;
    background-image:url(../images/n_hlogo.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
}

#nav{
    margin-left:100px;
    float:left;}

#nav > li{
    width:150px;
    height:60px;
    padding:10px 0px;
    float:left;
    color:white;
    text-align:center;}


.submenu{
    width:100%;
    height:200px;
    position:relative;
    padding:20px 0px;
    top:26px;
    z-index:1;
    display:none;
    background-color:rgba(255,255,255,0.9);}

.submenu li{
    height:36px;
    line-height:36px;
}

.submenu li:hover{
    background-color:red;
    color:white;}


#gnb{width:120px;
    height:30px;
    float:right;
    padding-top:8px;}

#gnb > li{width:30px;
    height:30px;
    border-radius:50%;
    background-color:rgba(255,255,255,0.2);
    float:left;
    text-align:center;
    line-height:30px;
    margin-right:15px;}

#gnb > li:last-child{margin-right:0px;}


/* 이미지 슬라이드 */
#main{width:100%;
    height:825px;}

.imgslide{
    width:100%;
    height:825px;
    overflow:hidden;
}

.imgs{
    width:100%;
    height:825px;
    background-color:#cccccc;
}

.imgs li{
    width:100%;
    height:100%;
    display:block;
}

.imgs li{
    width:100%;
    height:100%;
}

.imgslide_img{
    background-size:cover;
    background-position:center;}

.imgslide_txt{
    width:1200px;
    height:304px;
    padding-top:520px;
    margin:0 auto;
}

.imgslide_txt > span{
    font-size:44px;
    line-height:1.6;
    font-weight:bold;
    color:white;
}

.imgslide_txt > p{
    font-family:'Roboto';
    font-weight:400;
    font-size:18px;
    color:white;
    margin-top:30px;
}

/* 타이틀 공통 */
.section_title_box{
    padding:120px 0 0;
    text-align:center;}

p.title_01{display:block;
    font-size:16px;
    font-family:'Roboto';
    font-weight:700;
    color:#df0029;}

p.title_02, p.title_02 > span{
    display:inline-block;
    margin-top:8px;
    font-size:44px;
    letter-spacing:-0.3px;
}

p.title_02 > span{
    font-weight:700;
}

p.title_03{display:block;
    margin-top:26px;
    font-size:20px;
    color:#595757;
    letter-spacing:-0.1px;
}

/* section 01.소개 */
#section01{width:100%;
    height:300px;
    position:relative;
    margin:110px 0 200px;}

.intro_list{width:800px;
    position:absolute;
    top:0px;
    left:50%;
    margin-left:-400px;}

.intro_item{
    float:left;
    text-align:center;
    width:194px;
    height:auto;
    margin-right:109px;
}

.intro_item:last-child{
    margin-right:0px;
}

.intro_item_img{
    width:100px;
    height:100px;
    margin:0px 47px;
    background:#ec870c;
    border-radius:50%;
    text-align:center;
}

.intro_item_img > img{
    padding-top:30px;
}

.intro_item_txt{
    margin-top:36px;
    text-align:center;
}

.intro_item_txt h6{
    font-size:20px;
    font-weight:700;
}

.intro_item_txt p{
    margin-top:10px;
    font-size:16px;
    color:#595757;
    line-height:1.5;
}


/* section 02.경영철학 */
.ideology_list{
    width:100%;
    height:754px;
}

.ideology_item{
    float:left;
    width:33.3%;
    height:754px;
    position:relative;
}

.ideology_item_img{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-size:cover;
    background-position:center;
}

.ideology_item_txt{
    width:100%;
    height:754px;
    text-align:center;
    position:absolute;
    top:350px;}

.ideology_item_txt h6{
    font-size:24px;
    font-weight:700;
    color:white;
}

.ideology_item_txt p{
    font-size:16px;
    font-family:'Roboto';
    font-weight:300;
    color:white;
    margin-top:10px;
}

/* section 03.브랜드관 */
#section03{width:100%;
    height:300px;
    position:relative;
    margin:140px 0 0px;}

.product_list{width:800px;
    position:absolute;
    top:0x;
    left:50%;
    margin-left:-400px;}

.product_item{width:170px;
    height:170px;
    float:left;
    position:relative;
    border-radius:50%;
    margin-right:40px;
    background-color:#ec870c;
    text-align:center;}

.product_item:last-child{
    margin-right:0px;
}

.product_item_img{
    width:170px;
    height:70px;
    position:absolute;
    top:-40px;
    left:50%;
    margin-left:-85px;
    text-align:center;
}

.product_item_txt{
    width:170px;
    height:100px;
    position:absolute;
    top:84px;
    left:50%;
    margin-left:-85px;
}

.product_item_txt > h6{
    font-size:20px;
    color:white;
    font-weight:700;
    display:block;
}

.product_item_txt > p{
    font-size:16px;
    color:white;
    font-weight:300;
    font-family:'Roboto';
    display:block;
    margin-top:4px;
}


/* section 04.세계속의 농심 */
#section04{width:100%;
    height:600px;
    position:relative;
    margin:140px 0 0px;}

.world_list{
    width:1400px;
    height:280px;
    overflow:hidden;
    position:absolute;
    top:0x;
    left:50%;
    margin-left:-700px;}

.world_list > ul > li{
    float:left;
    width:430px;
    height:280px;
    margin-left:10px;
    position:relative;}

.world_list > ul > li:last-child{
    margin-left:0px;
}

.world_item_txt{
    width:430px;
    height:280px;
    position:absolute;
    text-align:center;
    top:40%;
}

.world_item_txt > h6{
    font-size:24px;
    font-weight:700;
    color:white;
}

.world_item_txt > p{
    font-size:16px;
    font-weight:300;
    color:white;
    font-family:'Roboto';
    margin-top:4px;
}





/* section 05.etc */
#section05{width:100%;
    height:300px;}

div.etc_list{width:33.3%;
    height:300px;
    float:left;
    background-color:#c9caca;
    text-align:center;
}

div.etc_list:first-child{
    background-color:#ec870c;
}

.etc_item{width:100%;
    height:200px;
    margin:50px 0px;}

#etc_item_line{width:99%;
    height:200px;
    border-right:1px solid white;}

.etc_item_txt{width:100%;
    height:100px;}

.title_eng{
    font-size:15px;
    font-family:'Roboto';
    font-weight:700;
    color:white;
}

.title_kor{
    margin-top:24px;
    font-size:15px;
    color:black;
    line-height:1.8;
}

.etc_item_img{
    width:100%;
    height:60px;
    padding-top:36px;
    position:relative;
}

.etc_item_img_back{
    background-color:white;
    height:60px;
    width:60px;
    border-radius:50%;
    position:absolute;
    left:50%;
    margin-left:-30px;
}

.etc_item_img_back > img{
    position:center;
    padding-top:14px;
}

p.stock_title{
    font-size:30px;
    font-family:'Roboto';
    font-weight:700;
    color:white;
    display:block;
    height:30px;

}

p.stock_sub{
    font-size:14px;
    display:block;
    padding-top:14px;
    height:14px;
}

.stock_sub > span{
    font-size:14px;
    font-weight:700;
}


/* footer */
footer{width:100%;
    height:380px;}

.footer_con{width:1200px;
    margin:60px 100px 0px;
    height:140px;
    border-bottom:1px solid #cccccc;
}

.footer_con_left{width:800px;
    height:140px;
    float:left;}

.footer_link{width:800px;}

.footer_link > li{
    float:left;
    padding-right:20px;
}

.footer_link > li >a{
    font-size:14px;
}

.footer_link > li:nth-child(5) >a{
    font-weight:700;
    color:#df0029;
}

.footer_link > li:nth-child(6) >a{
    font-weight:700;
    color:#ec870c;
}

.address{width:800px;
    margin-top:38px;}

.address > p{
    font-size:14px;
    line-height:2;
}

.address > p > span{
    font-size:14px;
    font-weight:700;  
}

.footer_con_right{width:180px;
    height:140px;
    float:right;}

.family_site_box > select{display:block;
    width:180px;
    height:32px;
    line-height:32px;
    padding-left:10px;
    border:1px solid #b9c3c9;
    font-size:14px;}

.sns_list{width:180px;
    margin-top:20px;}

.sns_list > li{width:32px;
    height:32px;
    float:left;
    margin-right:17px;}

.sns_list > li:last-child{
    margin-right:0px;}



.footer_bottom{width:1200px;
    height:180px;
    margin:40px 100px 0px;}

.footer_bottom > span.footer_logo{display:block;
    width:104px;
    height:34px;
    float:left;
}

.footer_bottom > span.footer_logo > img{
    width:104px;
    height:auto;
}

.footer_bottom > p.copyright{display:block;
    width:300px;
    height:34px;
    line-height:34px;
    float:left;
    margin-left:40px;
    font-size:14px;
    font-family:'Roboto';}

.footer_bottom > span.footer_simbol{display:block;
    width:64px;
    height:42px;
    float:right;
}



